.nav-item {
    color: #1f1ff9;
}

.imageAdj {
    height: 300px;
    width: 200px;
}

.img-body img {
    height: 50px;
    width: 40px;
    border-radius: 50%;
    padding: 10px;
}

.icon:hover {
    color: rgb(78, 78, 248);
    transform: scale(1.5);
}